<!doctype html>
<html>
<title>{{ .title }}</title>
<link rel="stylesheet" href="static/dashboard.css">
<body>
{{ .TotalMarketCapUsd }}
{{ .Total24HVolumeUsd }}
{{ .BitcoinPercentageOfMarketCap }}
{{ .ActiveCurrencies }}
{{ .ActiveAssets }}
{{ .ActiveMarkets }}
{{ .LastUpdated }}
</body>
</html>