<!doctype html>
<html>
<title>{{ .title }}</title>
<link rel="stylesheet" href="static/dashboard.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>

<h1>{{ .title }}</h1>
<form action="register" method="POST">
    Username:<br>
    <input type="text" name="username" id="username">
    <br>
    Password:<br>
    <input type="password" name="password" id="password">
    <input type="submit">
</form>

</body>
</html>